* {
  padding: 0;
  margin: 0;
  background-color: #fff;;
}

button:hover {
  box-shadow: 0 4px #555 !important;
  transform: translateY(2px);
}

button:active {
  box-shadow: none !important;
  transform: translateY(6px);
}

